*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 500px;
    padding: 30px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background-color: #003b5b;
}
h4{
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
textarea{
    width: 100%;
    padding: 10px;
}
#submit{
    border: none;
    background-color: orangered;
    color: white;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}
#submit:hover{
    background-color: #333333;
}