body{
    background-color: black;
    background-image: url("resources/background.jpeg");
}

.standard{
    text-align: center;
    background-color: rgba(255,255,255,1);
    color: #000000;
    border-radius: 2px;
    width:97%;
    margin: 0 auto 0 auto;
    padding: 5px;
    font-family:'Product Sans Regular';
}

.navbar{
    text-align: center;
    margin: 0 auto 0 auto;
    font-family:'Product Sans Regular';
    font-weight:normal;
    font-size: 20px;
    padding: 4px;
}

#main{

}

#footer{
    vertical-align: middle;
}
