body {
    background-color: #262626;
    padding: 20px; /* Add padding to the body */
}

#header {
    color: white;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
}

#controlPanel {
    color: white;
    text-align: center;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
    gap: 20px; /* Add this line */
}


#display {
        color: white;

    text-align: center;
    display: none;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 15px;
    background-color: #1a1a1a; 
    padding: 10px; /* Add padding to the display */
}

.standard {
    background-color: rgba(255,255,255,0);
    color: #dcdcdc;
    padding: 10px; /* Adjust padding for the standard class */
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #343a40;
    color: white;
    padding: 10px; /* Adjust padding for the input */
    font-family: Arial, sans-serif;
    margin: 0 auto;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 10px;
}

#myUL {
    list-style-type: none;
    padding: 10px; /* Adjust padding for the unordered list */
    margin: 0;
    border-radius: 10px;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    background-color: #343a40;
    color: white;
    padding: 10px; /* Adjust padding for the list items */
    width: 100%;
    font-family: Arial, sans-serif;
    border-radius: 3px;
}

@media only screen and (max-width: 620px) {
    body {
        padding: 0px;
    }
    #myInput {
        height:50px;
    }
    #myUL li a {
        padding: 5px;
    }
    #header {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;

    }
    #display {
        display: block;
        margin-left: 0 auto;
        margin-right: 0 auto;
        text-align: center;

    }
}
.navbar {
    text-align: center;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-weight:normal;
    font-size: 20px;
    background-color: #343a40;
    color: white;
    padding: 20px; /* Add padding to the navbar */
}
