body{
    background-color: #262626;
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 8px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 25px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.standard{
    background-color: rgba(255,255,255,0);
    color: #dcdcdc;
    padding: 5px;
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0 auto 0 auto;
}
iframe:focus { 
  outline: none;
}

iframe[seamless] { 
  display: block;
}

.navbar{
    text-align: center;
    margin: 0 auto 0 auto;
    font-family: Arial, sans-serif;
    font-weight:normal;
    font-size: 20px;

    background-color: #343a40;
    color: white;
}

.bg-dark{
    background-color: #343a40;

}

.body-text{
    width:100%
}

#falling-game{

}

#greeting{
    float: left;
    margin-left: 15%;
    width: 35%;
    height: 500px;
    position: relative;

}

#game-container{
    width: 35%;
    height: 500px;
    float: right;
    margin-right: 15%;

}

#main{
    float:left;
    text-align: center;
}

#footer{
    vertical-align: middle;
    text-align: center;
    margin-top:20%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
