@font-face {
    font-family: "Product Sans";
    src: url("fonts/Product Sans/ProductSans-Regular.woff") format("woff");
    /* Add other font styles as needed */
}

* {
    font-family: "Product Sans", sans-serif;
}

body {
    background-color: #262626;
    padding: 20px; /* Add padding to the body */
}

#header {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
}

#controlPanel {
    color: white;
    text-align: center;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
}

.form-check-label {
    color: white; /* Change the text color to white for visibility */
}

.collapsible-section {
    display: block;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#numDivs,
.numDivs {
    width: 50px;
}

.card {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 12px;
    border: 2px solid black;
    margin-bottom: 8px;
    margin-top: 9px;
    width: 60%;
    position: relative;
}

.arrow-container {
    position: absolute;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 0; /* Align arrows to the top of the card */
}

.arrow {
    cursor: pointer;
    margin: 5px 0; /* Adjust arrow spacing */
}

.display-container {
    flex-grow: 1;
    text-align: center;
}

.textDisplay {
    margin: 0;
}

.letterDisplay {
    margin: 0;
}

.standard {
    background-color: rgba(255, 255, 255, 0);
    color: #dcdcdc;
    padding: 10px; /* Adjust padding for the standard class */
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #343a40;
    color: white;
    padding: 10px; /* Adjust padding for the input */
    font-family: Arial, sans-serif;
    margin: 0 auto;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 10px;
}

#myUL {
    list-style-type: none;
    padding: 10px; /* Adjust padding for the unordered list */
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    background-color: #343a40;
    color: white;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    background-color: #343a40;
    color: white;
    padding: 10px; /* Adjust padding for the list items */
    width: 100%;
    font-family: Arial, sans-serif;
    border-radius: 3px;
}

/* Additional Checkbox Styles */
.form-check-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Change alignment to flex-start */
    margin-bottom: 10px; /* Add margin to separate checkboxes */
}

.form-check input {
    margin-bottom: 5px; /* Adjust margin as needed */
}

/* SwiftUI-like Stack Styles */
.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vstack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px; /* Adjust margin between button and checkboxes */
}

@media only screen and (max-width: 620px) {
    body {
        padding: 0px;
    }
    #myInput {
        height: 50px;
    }
    #myUL li a {
        padding: 5px;
    }
    #header {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    #display {
        display: none;
        margin-left: 0 auto;
        margin-right: 0 auto;
        text-align: center;
        width: 80%;
    }
}
